$height: 70px;

.Header {
    height: $height;
    background: #002140;
    position: relative;

    $logoSize: 32px;
    .logo {
        height: $logoSize;
        width: $logoSize;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        background: url('./img/logo.svg') no-repeat 0 0 / 100% 100%;
    }

    .title {
        height: 100%;
        line-height: $height;
        float: left;
        font-size: 22px;
        color: #fff;
        padding-left: 60px;
    }
}