$height: 70px;

.Header {
    height: $height;
    background: #002140;

    .title {
        height: 100%;
        line-height: $height;
        float: left;
        font-size: 22px;
        color: #fff;
        padding-left: 30px;
    }
}